@model Forfragan

@{
    ViewData["Title"] = "Skapa en ny förfrågan";
}

@using (Html.BeginForm("RequestThru", "Request", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <h1>Create a new request!</h1>
    <div class="CommentBox">
        <p>Is there something particular we should have in consideration?</p>
        @Html.TextAreaFor(model => model.Kommentar, new { rows = "8", cols = "50", placeholder = "Write your comment here..." })
        @Html.ValidationMessageFor(model => model.Kommentar, "", new { @class = "text-danger" })
    </div>

    <div class="SpecialEffects">
        <!-- ValidationMessageFor för SpecialEffects -->
        @Html.ValidationMessageFor(model => model.SpecialEffekter, "", new { @class = "text-danger" })
        <p>Do you want any special effects??</p>
        <p>Feather: <input type="checkbox" name="Fjader"></p>
        <p>Speks: <input type="checkbox" name="Spets"></p>
        <p>Pearls: <input type="checkbox" name="Parlor"></p>
        <p>Flower: <input type="checkbox" name="Blomma"></p>
    </div>

    <div class="Material">
        <p>Which material do you want on your hat?</p>
        <!-- ValidationMessageFor för Material -->
        @Html.ValidationMessageFor(model => model.Material, "", new { @class = "text-danger" })
        <p>Leather: <input type="checkbox" name="Lader"></p>
        <p>Cloth: <input type="checkbox" name="Tyg"></p>
        <p>Snake skin: <input type="checkbox" name="Skinn"></p>
        <p>Straw: <input type="checkbox" name="Stra"></p>
    </div>

    <div class="Measure">
        
        <!-- ValidationMessageFor för Matt -->
        <p>Is there anything particular you want us to take into consideration?</p>
        @Html.TextAreaFor(model => model.Kommentar, new { rows = "8", cols = "50", placeholder = "Write your comment here..." })
    </div>

    <div class="SpecialEffects">
        <label>
            <input type="checkbox" name="Parlor" value="check1">
            Pearls
        </label>
        <br />
        <label>
            <input type="checkbox" name="Spets" value="check2">
            Speks
        </label>
        <br />
        <label>
            <input type="checkbox" name="Fjader" value="check3">
            Feather
        </label>
        <br />
        <label>
            <input type="checkbox" name="Blomma" value="check4">
            Flower
        </label>
    </div>

    <div class="Material">
        <p>Which material do you want on your hat?</p>
        @Html.DropDownListFor(model => model.Material, new SelectList(new[]
                {
                    "Leather",
                    "Cloth",
                    "Snake skin",
                    "Straw"
                }), "Choose...", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Material, "", new { @class = "text-danger" })
    </div>

    <div class="Measure">
        <p>Width, Height and type</p>
        @Html.ValidationMessageFor(model => model.Matt, "", new { @class = "text-danger" })
        <br />
        @Html.TextBoxFor(model => model.Hojd, new { placeholder = "Height..." })
        @Html.ValidationMessageFor(model => model.Hojd, "", new { @class = "text-danger" })

        <input type="text" size="5" placeholder="Width..." align="left" name="Matt">
        <input type="text" size="5" placeholder="type..." align="left" name="Hojd">
        <label>Choose a hat:</label>
        <!-- ValidationMessageFor för HatId -->
        @Html.ValidationMessageFor(model => model.HatId, "", new { @class = "text-danger" })
        <select name="HatId">
            <option disabled selected>Choose type...</option>
            <option value="1">Cowboy</option>
            <option value="2">Sheriff</option>
            <option value="3">Peaky Blinders</option>
        </select>
    </div>

    
    
        <br />
        <label>Välj en hatt:</label>
        @Html.DropDownListFor(model => model.HatId, new SelectList(new[]
                {
    new SelectListItem { Text = "Cowboy", Value = "1" },
    new SelectListItem { Text = "Sheriff", Value = "2" },
    new SelectListItem { Text = "Peaky Blinders", Value = "3" }
    }, "Value", "Text"), "Choose a type...", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.HatId, "", new { @class = "text-danger" })

    <div class="ContactDetails">
        <p>Contact & delivery address:</p>
        <label>choose a country:</label>
        @Html.DropDownListFor(model => model.Land, new SelectList(new[]
                {
                    "Sweden",
                    "United states",
                    "UK",
                    "Grecce",
                    "Norway",
                    "Finland"
    }), "Choose a country...", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Land, "", new { @class = "text-danger" })
        <br />
        @Html.TextBoxFor(model => model.Adress, new { placeholder = "Address..." })

        @Html.ValidationMessageFor(model => model.Adress, "", new { @class = "text-danger" })
        <br />
        @Html.TextBoxFor(model => model.Postnummer, new { placeholder = "Zip code..." })
        @Html.ValidationMessageFor(model => model.Postnummer, "", new { @class = "text-danger" })
        <br />
        @Html.TextBoxFor(model => model.Email, new { placeholder = "Email..." })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        <br />
        @Html.TextBoxFor(model => model.Telefonnummer, new { placeholder = "Phonenumber..." })
        @Html.ValidationMessageFor(model => model.Telefonnummer, "", new { @class = "text-danger" })
        <input type="text" size="20" placeholder="Address..." align="left" name="Adress">
        <input type="text" size="6" placeholder="zipcode..." align="left" name="Postnummer">
        <input type="text" size="20" placeholder="Email..." align="left" name="Email">
        <input type="text" size="10" placeholder="Phone number..." align="left" name="Telefonnummer">

    </div>

    <div class="Save">
        <button type="submit" class="btn btn-primary">Send request</button>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
