@model Forfragan

@{
    ViewData["Title"] = "Skapa en ny förfrågan";
}

@using (Html.BeginForm("RequestThru", "Request", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <h1>Skapa en ny förfrågan!</h1>
    <div class="CommentBox">
        <p>Är det något speciellt som vi ska tänka på?</p>
        @Html.TextAreaFor(model => model.Kommentar, new { rows = "8", cols = "50", placeholder = "Skriv din kommentar här..." })
    </div>

    <div class="SpecialEffects">
        <label>
            <input type="checkbox" name="Parlor" value="check1">
            Pärlor
        </label>
        <br />
        <label>
            <input type="checkbox" name="Spets" value="check2">
            Spets
        </label>
        <br />
        <label>
            <input type="checkbox" name="Fjader" value="check3">
            Fjäder
        </label>
        <br />
        <label>
            <input type="checkbox" name="Blomma" value="check4">
            Blomma
        </label>
    </div>

    <div class="Material">
        <p>Vilket material vill du ha på hatten?</p>
        @Html.DropDownListFor(model => model.Material, new SelectList(new[]
                {
                    "Läder",
                    "Tyg",
                    "Skinn",
                    "Strå"
                }), "Välj ett material...", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Material, "", new { @class = "text-danger" })
    </div>

    <div class="Measure">
        <p>Mått, höjd och typ</p>
        @Html.TextBoxFor(model => model.Matt, new { placeholder = "Mått..." })
        @Html.ValidationMessageFor(model => model.Matt, "", new { @class = "text-danger" })
        <br />
        @Html.TextBoxFor(model => model.Hojd, new { placeholder = "Höjd..." })
        @Html.ValidationMessageFor(model => model.Hojd, "", new { @class = "text-danger" })
        <br />
        <label>Välj en hatt:</label>
        @Html.DropDownListFor(model => model.HatId, new SelectList(new[]
                {
    new SelectListItem { Text = "Cowboy", Value = "1" },
    new SelectListItem { Text = "Sheriff", Value = "2" },
    new SelectListItem { Text = "Peaky Blinders", Value = "3" }
    }, "Value", "Text"), "Välj en typ...", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.HatId, "", new { @class = "text-danger" })
    </div>

    <div class="ContactDetails">
        <p>Kontakt och leveransuppgifter:</p>
        <label>Välj en land:</label>
        @Html.DropDownListFor(model => model.Land, new SelectList(new[]
                {
                    "Sverige",
                    "USA",
                    "Storbritanien",
                    "Grekland",
                    "Norge",
                    "Finland"
    }), "Välj ett land...", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Land, "", new { @class = "text-danger" })
        <br />
        @Html.TextBoxFor(model => model.Adress, new { placeholder = "Adress..." })
        @Html.ValidationMessageFor(model => model.Adress, "", new { @class = "text-danger" })
        <br />
        @Html.TextBoxFor(model => model.Postnummer, new { placeholder = "Postnummer..." })
        @Html.ValidationMessageFor(model => model.Postnummer, "", new { @class = "text-danger" })
        <br />
        @Html.TextBoxFor(model => model.Email, new { placeholder = "Email..." })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        <br />
        @Html.TextBoxFor(model => model.Telefonnummer, new { placeholder = "Telefonnummer..." })
        @Html.ValidationMessageFor(model => model.Telefonnummer, "", new { @class = "text-danger" })
    </div>

    <div class="Save">
        <button type="submit" class="btn btn-primary">Skicka förfrågan</button>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
