@using System.Security.Claims
@model Request

@if (Model == null)
{
    <p>Förfrågan hittades inte.</p>
}
else
{
    <h4>FÖRFRÅGAN</h4>

    <br />

    <p>ID: @Model.Id</p>
    <p>Name: @Model.Name</p>
    <P>Address: @Model.Adress</P>
    <P>Postal Code: @Model.PostalCode</P>
    <P>Country: @Model.Country</P>
    <P>Email: @Model.Email</P>
    <P>phone Number: @Model.PhoneNumber</P>
    
    <br />

    <p>Client's Message': @Model.Commentary</p>

    <div class="col-md-2">
        @if (Model.RequestImage != null)
        {
            var imageBase64 = Convert.ToBase64String(Model.RequestImage);
            var imageSrc = $"data:image/png;base64,{imageBase64}";
            <img class="card-img-top" src="@imageSrc" alt="Request Image">
        }
    </div>

    <br />

    <p>Hat-ID: @Model.HatId</p>
    <P>Material: @Model.Material</P>
    <p>Measurement: @Model.Measurement</p>
    <P>Height: @Model.Height</P>
	<P>Special Effects:</P>
        <ul>
            @foreach ( var specialEffect in Model.SpecialEffects)
            {
                <li>@specialEffect</li>
            }
        </ul>

    <h4>Status:</h4>
    <p>@Model.Status</p>

    var requestId = Model.Id;

    <div style="display: flex; justify-content: space-between;">
        <form method="post" asp-controller="Request" asp-action="AcceptRequest">
            <input type="hidden" name="requestId" value="@requestId" />
            <button type="submit" class="btn btn-success">Accept Request</button>
        </form>

        <form method="post" asp-controller="Request" asp-action="DeclineRequest">
            <input type="hidden" name="requestId" value="@requestId" />
            <button type="submit" class="btn btn-danger">Decline Request</button>
        </form>
    </div>

}