@model Hattfabriken.Models.EditHatViewModel

<form asp-action="EditHat" asp-controller="Hat" method="post" enctype="multipart/form-data">
    <input asp-for="HatId" type="hidden" />
    <div class="form-group">
        <label asp-for="HatName">Name:</label>
        <input asp-for="HatName" class="form-control" />
        <span asp-validation-for="HatName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Choose a hat type:</label>
        <select asp-for="HatType" class="form-select">
            <option value="">Choose a type...</option>
            <option value="Felt hat">Felt hat</option>
            <option value="Panama hat">Panama hat</option>
            <option value="Straw hat">Straw hat</option>
            <option value="Cloth hat">Cloth hat</option>
            <option value="Leather hat">Leather hat</option>
        </select>
    </div>
    <div class="form-group">
        <label for="material">Material:</label>
        <select id="material" name="MaterialName" class="form-control">
            @{
                foreach (var material in ViewBag.Materials)
                {
                    var isSelected = material.MaterialName == Model.MaterialName ? "selected" : "";
                    <option value="@material.MaterialName" selected="@isSelected">
                        @material.MaterialName
                    </option>
                }
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Description">Description:</label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="form-label">Special effects:</label>
        <select asp-for="SpecialEffects" class="form-select" id="SpecialEffectsDrop">
            <option value="">Choose Special effect...</option>
            @if (ViewBag.SpecialEffects != null)
            {
                foreach (var specialEffectsList in ViewBag.SpecialEffects)
                {
                    <option value="@specialEffectsList.SpecialEffectName">@specialEffectsList.SpecialEffectName</option>
                }
            }
            else
            {
                <option value="">No Special effects available</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="OuterMeasurement">Outer measurement:</label>
        <input asp-for="OuterMeasurement" class="form-control" />
        <span asp-validation-for="OuterMeasurement" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Quantity">Quantity:</label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MaterialCost">Material cost:</label>
        <input asp-for="MaterialCost" class="form-control" />
        <span asp-validation-for="MaterialCost" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SpecialEffectCost">Special effect cost:</label>
        <input asp-for="SpecialEffectCost" class="form-control" />
        <span asp-validation-for="SpecialEffectCost" class="text-danger"></span>
    </div>
    <div class="form-group mt-4">
        <h6>Add picture</h6>
        <div class="d-flex">
            <input type="file" class="form-control" asp-for="HatImage" id="inputGroupFile02">
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Edit Hat</button>
</form>