@model IEnumerable<Material>

<h1>Storage of Materials</h1>

@* :3 *@

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Supplier</th>
            <th>Price</th>
            <th>Type of material</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var material in Model)
        {
            <tr>
                <td>@material.MaterialName</td>
                <td>@material.MaterialQuantity</td>
                <td>@material.MaterialSupplier</td>
                <td>@material.Price</td>
                <td>@(material.Type == 1 ? "Material" : "Special effects")</td>
                <td>
                    <a asp-action="EditMaterial" asp-route-id="@material.MaterialName" class="btn btn-primary">Edit</a>
                    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Orders", "Material")'">Order</button>
                </td>
            </tr>
        }
    </tbody>
</table>


<h2>Add New Material</h2>
<form asp-action="AddMaterial" method="post">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="MaterialName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="MaterialQuantity" class="form-control" />
    </div>
    <div class="form-group">
        <label for="supplier">Supplier:</label>
        <input type="text" id="supplier" name="MaterialSupplier" class="form-control" />
    </div>
    <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" id="price" name="Price" class="form-control" />
    </div>
    <div class="form-group">
        <label for="type">Type</label>
        <select id="type" name="Type" class="form-control">
            <option value="1">Material</option>
            <option value="2">Special Effect</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Add Material</button>
</form>
