@model IEnumerable<Hatt>

<h1>Hats in stock</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Material</th>
            <th>Outer measurement</th>
            <th>Description</th>
            <th>Price</th>
            <th>Special effects</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hat in Model)
        {
            <tr>
                <td>@hat.HatName</td>
                <td>@hat.MaterialName</td>
                <td>@hat.OuterMeasurement</td>
                <td>@hat.Description</td>
                <td>@hat.Price</td>
                <td>@hat.SpecialEffects</td>
                <td>
                     <a asp-action="EditHat" asp-controller="Hat" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<h2>Add hat</h2>
<form asp-action="AddHat" method="post">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="HatName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="material">Material:</label>
        <input type="text" id="material" name="MaterialName" class="form-control" />

    </div>
    
    <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" id="description" name="Description" class="form-control" />
    </div>
    <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" id="price" name="Price" class="form-control" />
    </div>

    <div class="form-group">
        <label for="specialEffects">Special effects:</label>
        <input type="text" id="specialEffects" name="SpecialEffects" class="form-control" />
	</div>
    <div class="form-group">
		<label for="measurement">Outer measurement:</label>
		<input type="number" id="measurement" name="OuterMeasurement" class="form-control" />
	</div>
    <button type="submit" class="btn btn-primary">Add Hat</button>
</form>
