@model IEnumerable<Hattfabriken.Models.Hatt>


<h1>Hats in stock</h1>

<div id="hatList" class="row mt-5">
    @foreach (var hat in Model)
    {
        <div class="col">
            <div class="card mx-auto mb-4 shadow" style="width: 240px;">
                <img class="img roundes-circle m-4" style="aspect-ratio: 1/1; object-fit: cover;"
                     src="" alt="Hat Picture" />
                <div class="card-body text-center">
                    <h5 class="card-title">@hat.HatName</h5>
                    <p class="card-text">@hat.Description</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Material: @hat.Material?.MaterialName</li>
                        <li class="list-group-item">Outer measurement: @hat.OuterMeasurement</li>
                        <li class="list-group-item">Price: @hat.Price</li>
                        <li class="list-group-item">Special effects: @hat.SpecialEffects</li>
                    </ul>
                    <div class="text-center mt-3">
                        <a asp-action="EditHat" asp-route-HatId="@hat.HatId" class="btn btn-primary">Edit</a>
                        <a asp-action="DeleteHat" asp-route-HatId="@hat.HatId" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<h2>Add hat</h2>
<form asp-action="AddHat" method="post">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="HatName" class="form-control" />
    </div>
@*     <div class="form-group">
        <label for="material">Material:</label>
        <select id="material" name="Material.MaterialName" class="form-control">
            @if (ViewBag.Materials != null)
            {
               @foreach (var material in ViewBag.Materials)
			    {
				    <option value="@material.MaterialName">@material.MaterialName</option>
			    } <!-- Din kod för att använda ViewBag.Materials här -->
            }
            else
            {
                <p>No materials available</p>
            }
			
        </select>
    </div> *@
    <div class="form-group">
        <label for="material">Material:</label>
        <select id="material" name="MaterialName" class="form-control">
            @if (ViewBag.Materials != null)
            {
                foreach (var material in ViewBag.Materials)
                {
                    <option value="@material.Value">@material.Text</option>
                }
            }
            else
            {
                <option>No materials available</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" id="description" name="Description" class="form-control" />
    </div>
    <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" id="price" name="Price" class="form-control" />
    </div>

    <div class="form-group">
        <label for="specialEffects">Special effects:</label>
        <input type="text" id="specialEffects" name="SpecialEffects" class="form-control" />
	</div>
    <div class="form-group">
		<label for="measurement">Outer measurement:</label>
		<input type="number" id="measurement" name="OuterMeasurement" class="form-control" />
	</div>
    <div class="form-group">
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="Quantity" class="form-control" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Add Hat</button>
</form>