@model Hattfabriken.Models.Viewmodels.OfferViewModel


<form asp-controller="Offer" asp-action="Create" method="post" enctype="multipart/form-data">
<div class="row">
        <div class="col-md-6">
            @{
                var request = ViewBag.request as Request;

                if (request != null && request.Id != null)
                {
                    <input type="hidden" name="requestId" value="@request.Id" />
                }
            }

            @if (request != null)
            {
                <h5 class="mb-4">Request</h5>

                <p>ID: @request?.Id</p>
            }
            
            <div>
                <div class="form-group">
                    <label asp-for="Name">Name:</label>
                    <input asp-for="Name" class="form-control" value="@request?.Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Address">Address:</label>
                    <input asp-for="Address" class="form-control" value="@request?.Adress" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PostalCode">PostalCode:</label>
                    <input asp-for="PostalCode" class="form-control" value="@request?.PostalCode" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Country">Country:</label>
                    <input asp-for="Country" class="form-control" value="@request?.Country" />
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Email">Email:</label>
                    <input asp-for="Email" class="form-control" value="@request?.Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PhoneNumber">PhoneNumber:</label>
                    <input asp-for="PhoneNumber" class="form-control" value="@request?.PhoneNumber" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <br />
                @if (request != null)
                {
                    <h5>Message from customer:</h5>
                    <p>@request.Commentary</p>
                }
            </div>

            @if (request != null && request.RequestImage != null)
            {
                var imageBase64 = Convert.ToBase64String(request.RequestImage);
                var imageSrc = $"data:image/png;base64,{imageBase64}";
                <img class="img-fluid rounded" src="@imageSrc" alt="Request Image">
            }
            <hr>

            <div>

                @if (request != null)
                {
                    <p>Requested hat:</p>
                    <p>Hat Type: @request.HatType</p>
                    <p>Material: @request.Material</p>
                }
                
                

                <div class="mb-3">
                    <label class="form-label">Choose a hat type:</label>
                    <select asp-for="HatType" class="form-select">
                        <option value="">Choose a type...</option>
                        <option value="Felt hat">Felt hat</option>
                        <option value="Panama">Panama hat</option>
                        <option value="Straw hat">Straw hat</option>
                        <option value="Cloth hat">Cloth hat</option>
                        <option value="Leather hat">Leather hat</option>
                    </select>
                </div>

                <span asp-validation-for="HatType" class="text-danger"></span>

                <div class="mb-3">
                    <label class="form-label">Which material do you want? (Optional) </label>
                    <select asp-for="Material" class="form-select" id="Material">
                        <option value="">Choose Material...</option>
                        @if (ViewBag.Materials != null)
                        {
                            @foreach (var material in ViewBag.Materials)
                            {
                                <option value="@material.MaterialName">@material.MaterialName</option>
                            }
                        }
                    </select>
                </div>

                <span asp-validation-for="Material" class="text-danger"></span>

                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text">Measurement:</span>
                        <input asp-for="Measurement" class="form-control" aria-label="Measurement" value="@request.Measurement">
                        <span class="input-group-text">Height:</span>
                        <input asp-for="Height" class="form-control" aria-label="Height" value="@request.Height">
                        <span class="input-group-text">Outer Measurement:</span>
                        <input asp-for="OuterMeasurement" class="form-control" aria-label="Outer Measurement" value="@request.OuterMeasurement">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Special effect</label>
                    <select asp-for="SpecialEffect" class="form-select" id="SpecialEffectDrop">
                        <option value="">Choose Special effect...</option>
                        @if (ViewBag.SpecialEffect != null)
                        {
                            foreach (var specialEffectsList in ViewBag.SpecialEffects)
                            {
                                <option value="@specialEffectsList.SpecialEffectName">@specialEffectsList.SpecialEffectName</option>
                            }
                        }
                        else
                        {
                            <option value="">No Special effects available</option>
                        }
                    </select>
                </div>

                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="DeliveryOrPickup" value="Pick up at workshop" checked="@((request?.DeliveryOrPickup == "Pick up at workshop"))" asp-for="DeliveryOrPickup" onchange="UpdateTotalPrice()" />
                            <label class="form-check-label" for="pickupRadio">Pick up at workshop</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="DeliveryOrPickup" value="Home delivery" checked="@((request?.DeliveryOrPickup == "Home delivery"))" asp-for="DeliveryOrPickup" onchange="UpdateTotalPrice()" />
                            <label class="form-check-label" for="deliveryRadio">Home delivery</label>
                        </div>
                        <span asp-validation-for="DeliveryOrPickup" class="text-danger"></span>
                    </div>

                    <div class="form-check form-switch mb-3">
                        <input class="form-check-input" type="checkbox" name="Urgent" checked="@request.Urgent" asp-for="Urgent" onchange="UpdateTotalPrice()" />
                        <label class="form-check-label" for="Urgent">Urgent request (+20% total price)</label>
                    </div>

                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-6">

            <h5 class="mb-4">Offer</h5>

            <div class="form-group">
                <label asp-for="MaterialCost">Material cost:</label>
                <input asp-for="MaterialCost" class="form-control" onchange="UpdateTotalPrice()" />
            <span asp-validation-for="MaterialCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecialEffectCost">Special effect cost:</label>
                <input asp-for="SpecialEffectCost" class="form-control" onchange="UpdateTotalPrice()" />
            <span asp-validation-for="SpecialEffectCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingCost">Shipping Cost:</label>
                <select id="ShippingCost" asp-for="ShippingCost" class="form-control" onchange="UpdateTotalPrice()">
                    <option value="0">Cost</option>
                    <option value="50">Domestic (50)</option>
                    <option value="100">Within EU (100)</option>
                    <option value="200">Outside EU (200)</option>
                </select>
            </div>
                <span asp-validation-for="ShippingCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstimatedDeliveryDate ">Estimated delivery date:</label>
                <input asp-for="EstimatedDeliveryDate" class="form-control" value="DateTime.Today" />
                <span asp-validation-for="EstimatedDeliveryDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TotalCost">Total Cost:</label>
                <input asp-for="TotalCost" class="form-control" readonly />
                <span asp-validation-for="TotalCost" class="text-danger"></span>
            </div>

        <div class="mb-3">
            <label class="form-label">Hatmaker commentary</label>
            <textarea asp-for="HatmakerComment" class="form-control" id="hatmakerComment" style="resize: none; height: 200px;"></textarea>
            <span asp-validation-for="HatmakerComment" class="text-danger"></span>
        </div>

            <button type="submit" class="btn btn-primary" onclick="openOutlook()">Send offer</button>
        </form>
    </div>
</div>

<script>

    function UpdateTotalPrice() {

        var materialCost = parseFloat(document.getElementById("MaterialCost").value) || 0;
        var specialEffectCost = parseFloat(document.getElementById("SpecialEffectCost").value) || 0;
        var shippingCostField = document.getElementById("ShippingCost");
        var shippingCost = parseFloat(document.getElementById("ShippingCost").value) || 0;

        var deliveryOrPickup = document.querySelector('input[name="DeliveryOrPickup"]:checked').value;
        
        if (deliveryOrPickup === "Pick up at workshop") {
            shippingCost = 0;
            shippingCostField.disabled = true; // Lås fältet
            shippingCostField.value = ""; // Töm fältet
        } else {
            shippingCostField.disabled = false; // Lås upp fältet om inte "Home delivery" är valt
        }

        var urgent = document.getElementById("Urgent").checked || false; // Ändra från value till checked för en checkbox

        var totalCost = materialCost + specialEffectCost + shippingCost;

        // Lägg till 20% på totalCost om urgent är true
        if (urgent) {
            totalCost *= 1.2;
        }

        document.getElementById("TotalCost").value = parseFloat(totalCost.toFixed(2));
    }

</script>
