@model Hattfabriken.Models.Viewmodels.OfferViewModel

<h1>Create Offer</h1>

<div class="row">
    <div class="col-md-6">
        @{
            var request = ViewBag.request as Request;
        }

        @if (request != null)
        {
            <h5 class="mb-4">REQUEST</h5>

            <div>
                <p>ID: @request.Id</p>
                <p>Name: @request.Name</p>
                <p>Address: @request.Adress</p>
                <p>Postal Code: @request.PostalCode</p>
                <p>Country: @request.Country</p>
                <p>Email: @request.Email</p>
                <p>Phone Number: @request.PhoneNumber</p>
                <p>Client's Message: @request.Commentary</p>
            </div>

            @if (request != null && request.RequestImage != null)
            {
                var imageBase64 = Convert.ToBase64String(request.RequestImage);
                var imageSrc = $"data:image/png;base64,{imageBase64}";
                <img class="img-fluid rounded" src="@imageSrc" alt="Request Image">
            }
            <hr>

            <div>
                <p>Hat-ID: @request.HatId</p>
                <p>Material: @request.Material</p>
                <p>Measurement: @request.Measurement</p>
                <p>Height: @request.Height</p>
                <p>Special Effects:</p>
                <ul>
                    @foreach (var specialEffect in @request.SpecialEffects)
                    {
                        <li>@specialEffect</li>
                    }
                </ul>
            </div>
        }
    </div>
    <div class="col-md-6">
        <form asp-controller="Offer" asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="CustomerName">Costumer name:</label>
                <input asp-for="CustomerName" class="form-control" value="@request?.Name" />
            </div>
            <div class="form-group">
                <label asp-for="CustomerMail">Costumer mail:</label>
                <input asp-for="CustomerMail" class="form-control" value="@request?.Email" />
            </div>
            <div class="form-group">
                <label asp-for="CustomerTel">Costumer phone number:</label>
                <input asp-for="CustomerMail" class="form-control" value="@request?.PhoneNumber" />
            </div>
            <div class="form-group">
                <label asp-for="MaterialCost">Material cost:</label>
                <input asp-for="MaterialCost" class="form-control" onchange="UpdateTotalPrice()" />
            </div>
            <div class="form-group">
                <label asp-for="SpecialEffectCost">Special effect fabric cost:</label>
                <input asp-for="SpecialEffectCost" class="form-control" onchange="UpdateTotalPrice()" />
            </div>
            <div class="form-group">
                <label asp-for="SpecialFabricCost">Special fabric cost:</label>
                <input asp-for="SpecialFabricCost" class="form-control" onchange="UpdateTotalPrice()" />
            </div>
            <div class="form-group">
                <label asp-for="ShippingCost">Shipping cost:</label>
                <input asp-for="ShippingCost" class="form-control" onchange="UpdateTotalPrice()" />
            </div>
            <div class="form-group">
                <label asp-for="EstimatedDeliveryDate">Estimated delivery date:</label>
                <input asp-for="EstimatedDeliveryDate" class="form-control"/>
            </div>

            <div class="form-group">
                <label asp-for="TotalCost">Total Cost:</label>
                <input asp-for="TotalCost" class="form-control" readonly />
            </div>

            <button type="submit" class="btn btn-primary" onclick="openOutlook()">Send In</button>
        </form>
    </div>
</div>

<script>
    function UpdateTotalPrice() {
        var materialCost = parseFloat(document.getElementById("MaterialCost").value) || 0;
        var specialEffectCost = parseFloat(document.getElementById("SpecialeffectCost").value) || 0;
        var specialFabricCost = parseFloat(document.getElementById("SpecialFabricCost").value) || 0;
        var shippingCost = parseFloat(document.getElementById("ShippingCost").value) || 0;

        var totalCost = materialCost + specialEffectCost + specialFabricCost + shippingCost;

        document.getElementById("TotalCost").value = totalCost.toFixed(2);
    }
</script>
