@model List<Offer>

<p>Här är alla offers brush</p>


<style>
    #offerTable tbody tr:hover {
        background-color: lightgray;
        cursor: pointer;
    }
</style>

<table class="table" id="offerTable">
    <thead>
        <tr>
            <th>Date Created</th>
            <th>Offer ID</th>
            <th>Customer Name</th>
            <th>Customer Email</th>
            <th>Customer Phone</th>
            <th>Total Cost</th>
            <th>Estimated Delivery Date</th>
            <th>Se Konversation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var offer in Model)
        {
            <tr data-href="@Url.Action("OfferDetails", "Offer", new { offerId = offer.OffertId })">
                <td>
                    <p>@offer.DateCreated.ToString("yyyy-MM-dd")</p>
                </td>
                <td>
                    <p>@offer.OffertId</p>
                </td>
                <td>
                    <p>@offer.Name</p>
                </td>
                <td>
                    <p>@offer.Email</p>
                </td>
                <td>
                    <p>@offer.PhoneNumber</p>
                </td>
                <td>
                    <p>@offer.TotalCost</p>
                </td>
                <td>
                    <p>@offer.EstimatedDeliveryDate.ToString("yyyy-MM-dd")</p>
                </td>
                <td>
                    <!-- Knapp för att visa konversation (öppna mail) -->
                    <button class="btn btn-primary open-email-client" data-email="@offer.KundMail">Visa Konversation</button>

                    <!-- Knapp för att acceptera offert -->
                    <button class="btn btn-success" onclick="acceptOffer(@offer.OffertId)">Acceptera Offert</button>
                </td>
            </tr>
        }
    </tbody>
</table>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<script>
    $(document).ready(function () {
        $('.open-email-client').click(function () {
            console.log('Klick på knappen för att öppna e-postklienten.');

            var email = $(this).data('email');

            // AJAX-anrop till din controller
            $.ajax({
                url: '@Url.Action("OpenEmailClient", "Email")',
                type: 'GET',
                data: { emailAdress: email },
                success: function (response) {
                    console.log(response); // Logga svaret från servern
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText); // Logga eventuella fel
                    alert('Ett fel uppstod: ' + xhr.responseText); // Visa ett meddelande för användaren
                }
            });
        });
    });
</script>




